<div *ngIf="loggedUser && getLoggedUserType()=='instructor'" class="form-container">
    <form [formGroup]="form" class="form-container">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input title="title" matInput>
            <mat-error *ngIf="formErrors.title">
                {{formErrors.title}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Content</mat-label>
            <textarea matInput placeholder="Instructions on how to do the exercise..."></textarea>
            <mat-error *ngIf="formErrors.content">
                {{formErrors.content}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input title="imageUrl" matInput placeholder="Image URL">
            <mat-error *ngIf="formErrors.imageUrl">
                {{formErrors.imageUrl}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Tags</mat-label>
            <input title="tags" matInput>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" (click)="submitExercise()">Submit</button>
            <button mat-raised-button color="warn" (click)="reset()">Reset</button>
        </div>
    </form>


</div>