.cards-container {
    width: 80%;
    display: flex;
    padding-left: 10px;
    flex-wrap: wrap;
}

.tags-container {
    max-width: 10%;
    align-items: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
}

mat-chip {
    max-width: max-content;
    margin: 5px
}

.column {
    display: flex;
    justify-content: center;
}

mat-card-subtitle {
    padding-top:10px;
    color: white;
    text-align: center;
}

mat-card img{
    width: 300px;
    height: 200px;
}

mat-card:hover {
    background-color: darkmagenta;
}

mat-card {
    height: max-content;
    margin: 10px;
}