<div *ngIf="exercise">

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="card-container">
            <mat-card appearance="outlined">
                <mat-card-header>
                    {{exercise.title | uppercase}}
                </mat-card-header>
                <mat-card-subtitle>
                    Published by: 
                    <a [routerLink]="'/users/'+exercise.authorId">{{authhorNames}}</a>, 
                    {{exercise.publishDate | date:'dd/MM/yyyy'}}
                </mat-card-subtitle>
                <img mat-card-image [src]="exercise.imageUrl">
                <mat-card-content>
                    <p style="white-space: pre-line">{{exercise.content}}</p>
                </mat-card-content>
                <mat-card-footer>
                    <mat-chip-set>
                        <mat-chip *ngFor="let tag of exercise.tags">{{tag}}</mat-chip>
                    </mat-chip-set>
                </mat-card-footer>
                <mat-card-actions>
                    <button mat-flat-button>
                        <mat-icon>favorite</mat-icon>
                        Add to Favorites
                    </button>
                    <button mat-flat-button>
                        <mat-icon>chat</mat-icon>
                        Comment
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div>
            
        </div>
    </div>

</div>