.card-container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    max-width: 50%;
}

a {
    color: orchid;
}

mat-card {
    max-width: fit-content;
}

mat-card-header {
    align-self: center;
    color: white;
    font-size:32px;
}

mat-card-subtitle {
    text-indent: 10px;
}

mat-card-content {
    padding-top:10px;
    color: white;
    font-size: 18px;
}

mat-card-footer {
    padding-top:15px;
    padding-left: 10px;
    padding-right: 10px;
}