<div *ngIf="user" class="user-container">
    <h2>{{user.firstName}} {{user.lastName}} ({{getTypeFromNumber(user.type)}})</h2>
    <img [src]="user.pictureUrl">
    <div *ngIf="user.type==getTypeFromString('instructor') && user.courses.length">
        <h3>{{user.firstName}}'s courses:</h3>
        <li *ngFor="let courseId of user.courses">
            <a [routerLink]="'/courses/'+courseId">
                <{{courseId}}>
            </a>
        </li>
    </div>
    <div *ngIf="user.type==getTypeFromString('instructor') && user.exercises.length">
        <h3>Exercises by {{user.firstName}}:</h3>
        <li *ngFor="let exId of user.exercises">
            <a [routerLink]="'/exercises/'+exId">
                <{{exId}}>
            </a>
        </li>

    </div>
</div>