<div>
    <div *ngIf="exercises[currentExerciseIndex]">
        <h1>Check out our exercises!</h1>
        <div class="card-container" div fxLayout="row" fxLayoutAlign="space-around center">
            <div class="button-container">
                <button mat-raised-button (click)="goLeftEx()" class="button">
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>
            <mat-card class="exercise-card" appearance="outlined">
                <mat-card-content [routerLink]="'/exercises/' + exercises[currentExerciseIndex].id">
                    <img mat-card-image [src]="exercises[currentExerciseIndex].imageUrl">
                </mat-card-content>
                <mat-card-actions class="card-actions">
                    <button mat-flat-button routerLink="/exercises">Browse Exercises</button>
                </mat-card-actions>
            </mat-card>
            <div class="button-container">
                <button mat-raised-button (click)="goRightEx()" class="button">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="courses[currentCourseIndex]">
        <h1>Sign up for courses!</h1>
        <div class="card-container" div fxLayout="row"
            fxLayoutAlign="space-around center">
            <div class="button-container">
                <button mat-raised-button (click)="goLeftCourse()" class="button">
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>
            <mat-card class="exercise-card" appearance="outlined">
                <mat-card-content [routerLink]="'/coursees/' + currentCourseIndex">
                    <img mat-card-image [src]="courses[currentCourseIndex].imageUrl">
                    <mat-card-subtitle class="card-subtitle">
                        {{courses[currentCourseIndex].content}}
                    </mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions class="card-actions">
                    <button mat-flat-button routerLink="/exercises">Join Courses</button>
                </mat-card-actions>
            </mat-card>
            <div class="button-container">
                <button mat-raised-button (click)="goLeftCourse()" class="button">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>