.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.exercise-card {
    width: 50%;
}

.card-actions {
    justify-content: center;
}

mat-card img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

mat-card:hover {
    background-color: darkmagenta;
}

.card-subtitle {
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button {
    height: 350px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    text-align: center;
}